.App {
  text-align: center;
}

.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-left: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  opacity: unset;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 296px;
}
.content h1 {
  font-size: 60px;
  font-weight: bolder;
  color: rgb(246, 10, 10);
}

.content button {
  color: #040925;
  outline: transparent;
  background-color: rgb(243, 183, 4);
  padding: 22px 20px;
  border-radius: 25px;
  font-size: 55px;
  font-weight: 700;
  width: 400px;
  border: transparent;
  transition: all 1s ease-in-out;
  text-shadow: 4px 4px 4px #e91e63a3;
   cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.content button:hover {
  transform: scale(1.5);
 
}
