.App {
  text-align: center;
}

.hero{
  display: flex;
  height: 100vh;
  background-color: black;
}
.content{
  display: flex;
  flex-direction: column;
 color: white;
  max-width: 1200;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.content h1{
  font-size: 60px;
  font-weight: bolder;

}

.content a{
  color: #f1e613;
  text-decoration: none;
  background-color: purple;
  padding: 22px 20px;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 700;
}